* ::before ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #0a5d72;

}

.container {
    border-radius: 5px;
    padding: 5%;
}

.containerOnglets {
    width: 90%;
    height: 3.5rem;
    display: flex;
    margin: auto;
}

.onglet {
    width: 33%;
    height: 100%;
    font-size: 1.1rem;
    font-weight: bold;
    cursor: pointer;
    background-color: #bfb6c5;
    color: #061c27;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.containerContenu {
    text-align: center;
}

.contenu {
    display: none;
    width: 90%;
    background-color: #bfb6c5;
    color: #061c27;
    border-radius: 5px;
}

.contenu:nth-child(1)>p {
    font-size: 1.5rem;
}

.contenu:nth-child(1) ul {
    padding: 0;
}

.contenu:nth-child(1) li {
    list-style-type: none;
    margin-top: 10%;
    margin-bottom: 20%;
}

.contenu:nth-child(1) li>p {
    font-size: 2rem;
    font-family: 'Marvel', sans-serif;
    font-weight: bold;
}

.contenu:nth-child(1) a {
    font-size: 1.5rem;
    cursor: pointer;
    text-decoration: none;
    color: #061c27;
    display: block;
    width: 6rem;
    border-radius: 10px;
    text-align: center;
    background: linear-gradient(#bfb6c5, #0a5d72);
    margin: auto;
    line-height: 3rem;



}

.contenu:nth-child(1) a:hover {
    background: linear-gradient(#0a5d72, #bfb6c5);
}

.contenu:nth-child(2) p {
    font-size: 1.5rem;
    padding: 0px 10px 0 10px;
    text-align: center;
}

.contenu:nth-child(2) a {
    text-decoration: none;
    color: #0a5d72;
    font-size: 1.5rem;
    transition: all 0.5s ease;
}

.contenu:nth-child(2) a:hover {
    color: purple;
    text-decoration: underline;
}

.active {
    color: #bfb6c5;
    background-color: #061c27;
    transition: all 0.3s ease;
}

.activeContenu {
    display: inline-block;
    animation: fade 0.5s forwards;
}

@keyframes fade {
    from {
        display: none;
    }

    To {
        display: inline-block;
    }
}

@media all and (min-width: 800px) {

    .contenu:nth-child(1) ul {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }

    .contenu:nth-child(1)>p {
        font-size: 2.5rem;
    }

    .contenu:nth-child(1) li>p {
        font-size: 2.2rem;
        margin: 0;
        margin-top: 10px;
    }

    .contenu:nth-child(1) li {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 14rem;
        width: 40%;
        margin: 0;
    }

    .contenu:nth-child(2) p {
        font-size: 2rem;
        padding: 0px 10px 0 10px;
    }


    .contenu:nth-child(1) li p,
    a {
        padding: 0;
    }

    .contenu:nth-child(2) a {
        font-size: 2rem;
    }

    .contenu:nth-child(1) a {
        height: 3rem;
    }
}