*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* font pour le background: css */
header {
font-family: 'Marvel', sans-serif;
}


/*********** Main Homepage **************/

img {
  width: 80%;
  height: 50vh;
}


.personnages {
text-align: center;
}

.Stan lee {
}

.Spiderman {

}
.Hulk {

}
.Batman {

}
.Thor {

}
.Wolverine {

}
