*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* font pour le background: css */
header {
font-family: 'Marvel', sans-serif;
}

.personnages {
text-align: center;
}
.Stan lee {
url (https://ds.static.rtbf.be/article/image/1920x1080/f/a/6/3636638817772e42b59d74cff571fbb3-1542096241.jpg);
}
.Spiderman {

}
.Hulk {

}
.Batman {

}
.Thor {

}
.Wolverine {

}
